<!DOCTYPE html>
<html lang="zh">
  <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-2C6GZ60BVJ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-2C6GZ60BVJ');
      </script>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>

      <!-- Include Prism.js theme CSS -->
      <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"/>
      <link rel="stylesheet" href="/assets/css/home-styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
      <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true
          }
        };
      </script>
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
          <img src="/assets/images/avatar.jpg" alt="Profile Photo" class="profile-picture">
          <h3 class="sidebar-title"></h3> 
        </div>
        <nav class="sidebar-nav">
          <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/aboutme">关于我</a></li>
            <li><a href="/notes">笔记</a></li>
          </ul>
        </nav>
        <div class="sidebar-footer">
          <a href="https://github.com/alant" class="icon github"><i class="fab fa-github"></i></a>
          <a href="https://linkedin.com/in/alantang" class="icon linkedin"><i class="fab fa-linkedin"></i></a>
        </div>
      </aside>
      <div class="overlay" id="overlay"></div>
      <!-- Content Area -->
      <main class="content">
        <header>
          <button class="hamburger" id="hamburger">&#9776;</button>
          <h1>{{ title }}</h1>
        </header>
        <section>
          <!-- Your main content goes here -->
          {{ content | safe }}
        </section>
        <footer class="footer">
          <div class="footer-container">
            <p>© {{ currentYear }} 汤浩</p>
          </div>
        </footer>
      </main>
    </div>
    <script>
      const sidebar = document.getElementById('sidebar');
      const overlay = document.getElementById('overlay');
      const hamburger = document.getElementById('hamburger');

      hamburger.addEventListener('click', () => {
        sidebar.classList.toggle('open');
        overlay.classList.toggle('show');
      });

      overlay.addEventListener('click', () => {
        sidebar.classList.remove('open');
        overlay.classList.remove('show');
      });
    </script>
  </body>
</html>