<!DOCTYPE html>
<html lang="zh">
  <head>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-2C6GZ60BVJ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-2C6GZ60BVJ');
      </script>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
          
      <!-- Include Prism.js theme CSS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-coy.min.css" rel="stylesheet" />>
      <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
      <div class="sidebar">
          {{ content | toc | safe }}
      </div>
      <div class="content">
          {{ content | safe }}
      </div>
  </body>
</html>