@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans SC', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Sidebar styles */
.sidebar {
  width: 200px; /* Width of sidebar */
  height: 100%;
  background-color: rgb(229, 231, 235); /* Light grey background */
  overflow-y: auto; /* Allow vertical scrolling if content exceeds height */
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1000; /* Ensure sidebar is above content */
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar-header {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items horizontally */
  padding: 20px;
}

.profile-picture {
  width: 80px; /* Adjust width as desired */
  height: 80px; /* Adjust height as desired */
  border-radius: 50%;
  margin-bottom: 10px; /* Space between profile picture and name */
}

.sidebar-title {
  margin: 0;
  font-size: 1.2rem; /* Adjust font size as needed */
}

/* Sidebar link styles */
.sidebar-nav a {
  color: black; /* Link text color */
  text-decoration: none; /* Remove underline */
  display: block; /* Ensure each link occupies full width */
  padding: 8px 20px; /* Padding for each link */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.sidebar-nav a:hover {
  background-color: rgb(200, 200, 200); /* Darker background color on hover */
}

/* Sidebar footer styles */
.sidebar-footer {
  margin-top: auto; /* Push to bottom */
  padding: 20px;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.icon {
  color: black;
  font-size: 1.5rem;
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.show {
  display: block;
}

/* Content Area */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  margin-left: 220px; /* Adjust to fit sidebar width */
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
  }

  .hamburger {
    display: block;
  }

  .overlay.show {
    display: block;
  }
}

.footer {
  text-align: center; /* Center-align text */
  padding: 10px 0 0 0;
  margin-top: auto; /* Push footer to the bottom */
}

.footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.responsive-image {
  max-width: 100%; /* Ensure the image does not exceed its original size */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures the image behaves like a block element */
  margin: 0 auto; /* Center aligns the image */
}

/* Prism.js specific styles */
pre[class*="language-"] {
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace !important;
    font-size: 0.9em; /* Adjust this value as needed */
}

table {
  width: max-content;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 8px; /* Adjust padding for cell content */
  text-align: center; /* Center align text */
  vertical-align: middle; /* Center align vertically */
  white-space: nowrap;
}

th {
  font-weight: normal;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

h1 {
  font-size: 2em; /* Adjust based on your design */
}

h2 {
  font-size: 1.5em; /* Adjust based on your design */
}

h3 {
  font-size: 1.2em; /* Adjust based on your design */
}

.underline {
  text-decoration: underline;
}
