body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 300px; /* Adjust sidebar width as needed */
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Style for headings and links in TOC */
.toc {
    margin-top: 0;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}

.toc li {
    margin-bottom: 8px;
}

.toc a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease;
}

.toc a:hover {
    color: #007bff;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .sidebar {
        display: none; /* Hide the sidebar on small screens */
    }

    .content {
        width: 100%;
    }
}

/* Additional adjustments for smaller screens */
@media screen and (max-width: 480px) {
    .content {
        padding: 10px;
    }

    .toc a {
        font-size: 14px;
    }
}

/* Prism.js specific styles */
pre[class*="language-"] {
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace !important;
    font-size: 0.8em; /* Adjust this value as needed */
}
